#{
    margin:8px;
    padding:0px;
    box-sizing :border-box ;

}
.content{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(3.jpg);
        background-size:cover;
        background-position: center;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    
    
}
.logo a{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    cursor : pointer;
    text-decoration: none;
}
.nav-links{
    
    display:flex;
    justify-content:space-around;
    width: 40%;
     
}
.nav-links li{
    list-style: none;
    
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


.nav ul li button {
    
    font-family: "Roboto",sans-serif;
    text-transform :uppercase;
    outline: 0 ;
    background: #4CAF50;
    width: 100% ;
    border: 0 ;
    padding : 7px;
    color: #FFFFFF;
    font-size: 15px;
    cursor:pointer;
    
}

h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
    color:white;
    padding:50px;
    margin: auto;
    
}
p{
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    color: aliceblue;
    padding: 40px;
    margin: 20px;
}
h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
    color: white ;
    padding:50px;
    margin: auto;
}


.footer{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
     min-height: 15vh;
    
}

h4{
    color: white;
    word-spacing: 2px;
    letter-spacing: 3px;
}



